.IconEditor {
    background:chartreuse;
}

.IconEditor .colorForm {
    width:514px;
    border:1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
}

.IconEditor .pixel {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border:1px solid black;
}